<div class="line" *ngIf="align !== 'center'"></div>

<div class="timeline-box" *ngFor="let box of data">
  <div class="box-label" *ngIf="showLabels && box.sectionLabel">
    <tc-badge [view]="box.sectionLabel.view ? box.sectionLabel.view : 'default'">{{ box.sectionLabel.text }}</tc-badge>
  </div>

  <div class="box-items">
    <div class="item" *ngFor="let item of box.sectionData">
      <div class="icon-block">
        <button
          class="item-icon {{ item.icon || 'icofont-clock-time' }}"
          [ngStyle]="{ 'background': item.iconBg, 'color': item.iconColor }"
          (click)="openModal(modalBody, 'Historial de atención', modalFooter, null , box)"
        ></button>
      </div>

      <div class="content-block">
        <div class="item-header">
          <h3 class="h5 item-title" *ngIf="item.title">{{ item.title }}</h3>

          <div class="item-date" *ngIf="item.date"><span>{{ item.date.toDate() | date:'EEEE, MMMM d, y, h:mm a' }}</span></div>
        </div>

        <div class="item-desc" [innerHTML]="item.content" *ngIf="item.content"></div>
      </div>
    </div>
  </div>
</div>

<!-- Modal window -->
<ng-container>
  <ng-template #modalBody>
    <form [formGroup]="historialForm" class="new-patient-form">
      <!-- <tc-form-group class="avatar-box d-flex">
      <input type="file" accept="image/*" (change)="onFileChanged($event)" #fileInput hidden>

      <div class="container mb-2">
        <tc-avatar [src]="currentAvatar" [size]="120"></tc-avatar>
      </div>
       <button tc-button [type]="'button'" [afterIcon]="'icofont-ui-user'" [view]="'accent'" [outline]="true"
        (click)="fileInput.click()">
        Seleccionar imagen
      </button>
    </tc-form-group> -->

      <!-- <tc-form-group>
        <tc-form-label>Nombre paciente</tc-form-label>
        <tc-input [placeholder]="'Nombre'" formControlName="nombre" [readonly]="true"></tc-input>
      </tc-form-group> -->

      <tc-form-group>
        <tc-form-label>Nombre funcionario</tc-form-label>
        <tc-input [placeholder]="'Nombre funcionario'" formControlName="nombreFuncionario">
        </tc-input>
      </tc-form-group>

      <tc-form-group>
        <mat-form-field appearance="fill">
          <mat-label>Fecha de atención</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fecha" disabled>
          <mat-hint>DD/MM/AAAA</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </tc-form-group>

      <tc-form-group>
        <tc-form-label>Alergias</tc-form-label>
        <tc-input [placeholder]="'Alergias'" formControlName="alergias"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <tc-form-label>Antecedentes mórbidos</tc-form-label>
        <tc-input [placeholder]="'ant. mórbidos'" formControlName="antMorbidos"></tc-input>
      </tc-form-group>

      <div class="row">
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>PA</tc-form-label>
            <tc-input [placeholder]="'Presión arterial'" formControlName="PA"></tc-input>
          </tc-form-group>
        </div>
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>FC</tc-form-label>
            <tc-input [placeholder]="'Fr. cardíaca'" formControlName="FC"></tc-input>
          </tc-form-group>
        </div>
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>FR</tc-form-label>
            <tc-input [placeholder]="'Fr. respiratoria'" formControlName="FR"></tc-input>
          </tc-form-group>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6">
          <tc-form-group>
            <tc-form-label>Temperatura</tc-form-label>
            <tc-input [placeholder]="'Temperatura'" formControlName="temperatura"></tc-input>
          </tc-form-group>
        </div>
        <div class="col-12 col-sm-6">
          <tc-form-group>
            <tc-form-label>Sat.</tc-form-label>
            <tc-input [placeholder]="'Sat.'" formControlName="sat"></tc-input>
          </tc-form-group>
        </div>
      </div>

      <tc-form-group>
        <tc-form-label>Nombre procedimiento</tc-form-label>
        <tc-input [placeholder]="'Procedimiento'" formControlName="title"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <tc-form-label>Descripción</tc-form-label>
        <tc-textarea [placeholder]="'Descripción del procedimiento'" formControlName="content" [readonly]="true"></tc-textarea>
      </tc-form-group>

      <tc-form-group>
        <tc-form-label>Indicaciones</tc-form-label>
        <tc-input [placeholder]="'Indicaciones'" formControlName="indicaciones"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <tc-form-label>Observaciones</tc-form-label>
        <tc-input [placeholder]="'Observaciones'" formControlName="observaciones"></tc-input>
      </tc-form-group>

      <div *ngIf="isDocument">
        <br>
        <div class="row">
          <tc-form-label>Archivo(s) adjunto(s)</tc-form-label>
        </div>

        <div class="row mb-2" *ngFor="let file of this.documentos; let i = index">
          <div class="col-10">
            <tc-input value= {{file.name}} [readonly]="true"[prefixIcon]="'icofont-papers'"></tc-input>
          </div>
          <div class="col-2">
            <button tc-button [afterIcon]="'icofont-download'" [view]="'success'" [square]="true" [outline]="true" (click)="downloadDocument(i)">
            </button>
          </div>
        </div>
      </div>

    </form>
  </ng-template>

  <ng-template #modalFooter>
    <div class="actions container">
      <button tc-button [type]="'button'" [view]="'error'" (click)="closeModal()">Cerrar</button>
      <!-- <button tc-button [view]="'info'" [disabled]= "true">
        Guardar cambios
      </button> -->
    </div>
  </ng-template>
</ng-container>
<!-- end Modal window -->
