<div class="app-container" [ngClass]="{ boxed: appSettings.boxed, scrolled: scrolled, loaded: loaded }"
  *ngIf="appSettings">
  <!-- Horizontal navbar -->
  <navbar [boxed]="appSettings.boxed" [tcBgColor]="appSettings.topbarBg" [tcColor]="appSettings.topbarColor"
    [minHeight]="'4.28571429rem'">
    <button class="no-style navbar-toggle d-lg-none" (click)="toggleSidebar(true)">
      <span></span><span></span><span></span>
    </button>

    <search [data]="searchData" [layout]="'vertical'" class="d-none d-md-block"></search>

    <actions [layout]="'vertical'"></actions>

    <navbar-skeleton [type]="'horizontal'" [loaded]="loaded"></navbar-skeleton>
  </navbar>
  <!-- end Horizontal navbar -->

  <!-- Vertical navbar -->
  <navbar [orientation]="'vertical'" [tcBgColor]="appSettings.sidebarBg" [tcColor]="appSettings.sidebarColor"
    [opened]="appSettings.sidebarOpened">
    <button class="no-style navbar-close icofont-close-line d-lg-none" (click)="toggleSidebar(false)"></button>

    <logo [src]="'assets/img/serfinsalud-logo.png'" [width]="294" [height]="66"></logo>

    <app-menu [src]="'assets/data/menu.json'"></app-menu>

    <!-- Boton para buscar paciente -->
    <div class="add-patient">
      <div class="row">
        <button class="mb-2" tc-button [view]="'accent'" [beforeIcon]="'icofont-search'"
          (click)="openModal(modalBodyTwo, 'Buscar paciente', modalFooterTwo)">Buscar Paciente</button>
      </div>

      <div class="row">
        <button class="mb-2" tc-button [view]="'accent'" [beforeIcon]="'icofont-plus'"
          (click)="openModal(modalBody, 'Agregar nuevo paciente', modalFooter)">Agregar Paciente</button>
      </div>

      <div class="row" *ngIf="usuarioActivo.rol == 'administrador' || usuarioActivo.rol == 'superadministrador'">
        <button tc-button [view]="'accent'" [beforeIcon]="'icofont-live-messenger'"
          (click)="openModalTwo(modalBodyThree, 'Agregar nuevo usuario', modalFooterThree)">Agregar Usuario</button>
      </div>
    </div>

    <menu class="assistant-menu">
      <!-- <a href="#" [routerLink]="['/vertical', 'settings']" class="link">
        <tc-icon [iconClass]="'icofont-ui-settings'" [tcFontSize]="'1.3em'"></tc-icon>Settings
      </a> -->

      <a class="link">
        <tc-icon [iconClass]="'icofont-question-square'" [tcFontSize]="'1.3em'"></tc-icon>Soporte
      </a>
    </menu>

    <navbar-skeleton [type]="'vertical'" [loaded]="loaded"></navbar-skeleton>
  </navbar>
  <!-- end Vertical navbar -->

  <main class="main-content" (scroll)="onScroll($event)" [ngClass]="{ 'loaded': pageData?.loaded }">
    <div class="app-loader" *ngIf="!pageData?.loaded"><i class="icofont-spinner-alt-4 rotate"></i></div>

    <div class="main-content-wrap" [ngClass]="{ 'full-filled': pageData?.fullFilled }">
      <header class="page-header" *ngIf="pageData && !pageData?.fullFilled && pageData.title.length">
        <h1 class="page-title">{{ pageData.title }}</h1>
      </header>

      <router-outlet></router-outlet>
    </div>
  </main>

  <footer [boxed]="appSettings.boxed" [pageData]="pageData" [loaded]="loaded"></footer>

  <div class="content-overlay" [ngClass]="{ 'show': appSettings.sidebarOpened }" (click)="toggleSidebar(false)"></div>
</div>

<!-- Modal window -->
<ng-container>
  <ng-template #modalBody>
    <form [formGroup]="patientForm" novalidate class="new-patient-form">

      <div class="container">
        <tc-icon class="icofont-users-alt-4 mb-4" [tcShape]="'50%'" [tcColor]="'#000000'" [tcBgColor]="'#FFFFFF'"
          [tcBorderColor]="'#000000'" [tcFontSize]="70"></tc-icon>
      </div>
      <!-- <tc-form-group class="avatar-box d-flex">
        <input type="file" accept="image/*" (change)="onFileChanged($event)" #fileInput hidden>

        <tc-avatar [src]="currentAvatar"></tc-avatar>
        <button tc-button [type]="'button'" [afterIcon]="'icofont-ui-user'" [view]="'accent'" [outline]="true"
          (click)="fileInput.click()">
          Seleccionar imagen
        </button>
      </tc-form-group> -->

      <tc-form-group>
        <tc-input [placeholder]="'Nombre'" formControlName="nombre"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <tc-input [placeholder]="'RUT del paciente'" [charLimiting]="12" (input)="checkRun()" formControlName="rut">
        </tc-input>
        <tc-form-description [tcColor]="'#e24d4d'"
          *ngIf="patientForm.controls.rut.touched && patientForm.controls.rut.invalid">
          RUT inválido
        </tc-form-description>
      </tc-form-group>

      <tc-form-group>
        <mat-form-field appearance="fill">
          <mat-label>Fecha de nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" [max]="maxDate" formControlName="fNac">
          <mat-hint>DD/MM/AAAA</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </tc-form-group>
      <tc-form-group>
        <tc-input [placeholder]="'Correo'" type="email" formControlName="correo"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <tc-input [placeholder]="'Celular'" [type]="'number'" formControlName="telefono"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <tc-select [placeholder]="'Género'" formControlName="genero" [options]="gender"></tc-select>
      </tc-form-group>

      <tc-form-group>
        <tc-textarea [placeholder]="'Domicilio'" formControlName="domicilio"></tc-textarea>
      </tc-form-group>

      <tc-form-group>
        <tc-input [placeholder]="'Alergias'" formControlName="alergias"></tc-input>
      </tc-form-group>

      <tc-form-group class="mb-0">
        <tc-input [placeholder]="'Antecedentes mórbidos'" formControlName="antMorbidos"></tc-input>
      </tc-form-group>
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <div class="actions justify-content-between">
      <button tc-button [type]="'button'" [view]="'error'" (click)="closeModalPatient()">Cancelar</button>
      <button tc-button [view]="'info'" [disabled]="patientForm.invalid" (click)="addPatient(patientForm)">
        Agregar Paciente
      </button>
    </div>
  </ng-template>
</ng-container>
<!-- end Modal window -->

<ng-container>
  <ng-template #modalBodyTwo>
    <div class="inputSearch">
      <form class="search-wrap" [formGroup]="searchForm">
        <tc-autocomplete formControlName="search" [suffixIcon]="'icofont icofont-search'" [data]="data"
          [key]="'nombreRut'" [placeholder]="'Ingrese nombre o RUT del paciente...'"
          (keydown.enter)="goTo($event, searchForm.value.search)" (click)="goTo($event, searchForm.value.search)">
        </tc-autocomplete>
      </form>
    </div>
  </ng-template>

  <ng-template #modalFooterTwo>
    <div class="actions justify-content-center">
      <button tc-button [type]="'button'" [view]="'error'" (click)="closeModalSearch()">Cancelar</button>
    </div>
  </ng-template>
</ng-container>

<ng-container>
  <ng-template #modalBodyThree>
    <form [formGroup]="userForm" novalidate class="new-patient-form">

      <div class="container">
        <tc-icon class="icofont-live-messenger mb-4" [tcShape]="'50%'" [tcColor]="'#000000'" [tcBgColor]="'#FFFFFF'"
          [tcBorderColor]="'#000000'" [tcFontSize]="70"></tc-icon>
      </div>
      <!-- <tc-form-group class="avatar-box d-flex">
        <input type="file" accept="image/*" (change)="onFileChanged($event)" #fileInput hidden>

        <tc-avatar [src]="currentAvatar"></tc-avatar>
        <button tc-button [type]="'button'" [afterIcon]="'icofont-ui-user'" [view]="'accent'" [outline]="true"
          (click)="fileInput.click()">
          Seleccionar imagen
        </button>
      </tc-form-group> -->

      <tc-form-group>
        <tc-input [placeholder]="'Nombre'" formControlName="nombre"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <tc-input [placeholder]="'Apellidos'" formControlName="apellidos"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <tc-input [placeholder]="'RUT del usuario'" [charLimiting]="12" (input)="checkRun()" formControlName="rut">
        </tc-input>
        <tc-form-description [tcColor]="'#e24d4d'"
          *ngIf="userForm.controls.rut.touched && userForm.controls.rut.invalid">
          RUT inválido
        </tc-form-description>
      </tc-form-group>

      <tc-form-group>
        <mat-form-field appearance="fill">
          <mat-label>Fecha de nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" [max]="maxDate" formControlName="fNac">
          <mat-hint>DD/MM/AAAA</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </tc-form-group>
      <tc-form-group>
        <tc-input [placeholder]="'Correo'" type="email" formControlName="email"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <tc-input [placeholder]="'Celular'" [type]="'number'" formControlName="telefono"></tc-input>
      </tc-form-group>

      <div class="row">
        <div class="col-12 col-sm-6">
          <tc-form-group>
            <tc-select [placeholder]="'Rol'" formControlName="rol" [options]="rol"></tc-select>
          </tc-form-group>
        </div>

        <div class="col-12 col-sm-6">
          <tc-form-group>
            <tc-select [placeholder]="'Género'" formControlName="genero" [options]="gender"></tc-select>
          </tc-form-group>
        </div>
      </div>

      <tc-form-group>
        <tc-input [placeholder]="'Especialidad'" formControlName="especialidad"></tc-input>
      </tc-form-group>

      <tc-form-group class="mb-0">
        <tc-textarea [placeholder]="'Domicilio'" formControlName="domicilio"></tc-textarea>
      </tc-form-group>
    </form>
  </ng-template>

  <ng-template #modalFooterThree>
    <div class="actions justify-content-between">
      <button tc-button [type]="'button'" [view]="'error'" (click)="closeModalUser()">Cancelar</button>
      <button tc-button [view]="'info'" [disabled]="userForm.invalid" (click)="registrar(userForm)">
        Agregar Usuario
      </button>
    </div>
  </ng-template>
</ng-container>
<!-- end Modal window -->