<form [formGroup]="registerForm" novalidate>
  <tc-form-group>
    <tc-input [placeholder]="'Nombre'" formControlName="name"></tc-input>
  </tc-form-group>

  <tc-form-group>
    <tc-input [placeholder]="'correo'" [type]="'email'" formControlName="email"></tc-input>
  </tc-form-group>

  <tc-form-group>
    <tc-input [placeholder]="'Contraseña'" [type]="'password'" formControlName="pass"></tc-input>
  </tc-form-group>

  <tc-form-group>
    <tc-switcher [value]="true">Estoy de acuerdo con términos y condiciones.</tc-switcher>
  </tc-form-group>

  <div class="actions justify-content-between">
    <button tc-button [view]="'accent'" [beforeIcon]="'icofont-plus'">
      Registrar
    </button>
  </div>
</form>
